<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_nsg_path(@nsg) %> |
<%= link_to 'Back', nsgs_path %>

<div class="row">
  <div class="col-sm-10"><h1><%= @nsg.name %></h1></div>
</div>

<div class="row">
  <div class="col-sm-3">
    <ul class="list-group">
      <li class="list-group-item text-muted">NSG Information</li>
      <li class="list-group-item">
        <span class="tag tag-default tag-pill float-xs-right"><%= @nsg.name %></span>
        NSG Name
      </li>
      <li class="list-group-item">
        <span class="tag tag-default tag-pill float-xs-right"><%= @nsg.resource_group %></span>
        NSG Resource Group
      </li>      <li class="list-group-item">
        <span class="tag tag-default tag-pill float-xs-right"><%= @nsg.location %></span>
        NSG Location
      </li>      <li class="list-group-item">
        <span class="tag tag-default tag-pill float-xs-right"><%= @nsg.provisioning_state %></span>
        NSG Provisioning State
      </li>      <li class="list-group-item">
        <span class="tag tag-default tag-pill float-xs-right"><%= @nsg.nsgrules.count %></span>
        NSG Rules Count
      </li>
    </ul>
  </div>
</div>

<hr class="section-heading-spacer">


  <h2>NSG Security Rules for <%= @nsg.name %></h2>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Nsg Name</th>
          <th>Direction</th>
          <th>Priority</th>
          <th>Protocol</th>
          <th>Source port range</th>
          <th>Destination port range</th>
          <th>source_address_prefix</th>
          <th>destination_address_prefix</th>
          <th>Access</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @nsg.nsgrules.each do |nsgrule| %>
          <tr>
            <td><%= nsgrule.name %></td>
            <td><%= nsgrule.nsg_name %></td>
            <td><%= nsgrule.direction %></td>
            <td><%= nsgrule.priority %></td>
            <td><%= nsgrule.protocol %></td>
            <td><%= nsgrule.source_port_range %></td>
            <td><%= nsgrule.destination_port_range %></td>
            <td><%= nsgrule.source_address_prefix %></td>
            <td><%= nsgrule.destination_address_prefix %></td>
            <td><%= nsgrule.access %></td>
            <td><%= link_to 'Show', nsgrule %></td>
            <td><%= link_to 'Edit', edit_nsgrule_path(nsgrule) %></td>
            <td><%= link_to 'Destroy', nsgrule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>
    
    <%= link_to 'New Nsgrule', new_nsgrule_path %>



<%= link_to 'Edit', edit_nsg_path(@nsg) %> |
<%= link_to 'Back', nsgs_path %>
