<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @container.name %>
</p>

<p>
  <strong>Public access:</strong>
  <%= @container.public_access %>
</p>

<p>
  <strong>Last modified:</strong>
  <%= @container.last_modified %>
</p>

<%= link_to 'Edit', edit_container_path(@container) %> |
<%= link_to 'Back', containers_path %>
